[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/neisty
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/neisty
	label-Verified = -1..+1 group user/neisty
	push = group user/neisty
	read = group user/neisty
	rebase = group user/neisty
	removeReviewer = group user/neisty
	submit = group user/neisty
[access "refs/heads/*"]
	create = group user/neisty
	push = +force group user/neisty
	pushMerge = group user/neisty
	read = group user/neisty
[access "refs/tags/*"]
	push = group user/neisty
	push = +force group user/neisty
